
body {
    font-family: Verdana, sans-serif;
     margin:0;
     background-color: black;
}
/* Slideshow container */
 .slideshow-container {
     color: white;
     position: relative;
     background: #000000f1;
}
/* Slides */
 .mySlides {
     display: none;
     padding: 40px;
     text-align: center;
}
/* Next & previous buttons */
 .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -30px;
     padding: 16px;
     color: #888;
     font-weight: bold;
     font-size: 20px;
     border-radius: 0 3px 3px 0;
     user-select: none;
}
/* Position the "next button" to the right */
 .next {
     position: absolute;
     right: 0;
     border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
     color: white;
}
/* The dot/bullet/indicator container */
 .dot-container {
     text-align: center;
     padding: 20px;
     background: rgb(0, 0, 0);
}
/* The dots/bullets/indicators */
 .dot {
     cursor: pointer;
     height: 5px;
     width: 5px;
     margin: 0 2px;
     background-color: rgb(61, 61, 61);
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
 .active, .dot:hover {
     background-color: #ffffff;
}

/* Add a blue color to the author */
 .author {
    color: cornflowerblue;
}
.btn, input[type="submit"]{
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
  }
  .btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
  }
  